@import '../../variables';

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: auto;
  background-image: url("../../img/backgroundSign.png");
}

.icon_twi {
  svg {
    margin: auto;
    width: 25vw;
    height: auto;
  }
}

.icon {
  svg {
    margin: auto;
    width: 3rem;
    height: auto;
  }
}

.fields {
  padding: 2rem;
}

.title {
  color: $foregroundColor;
  font-size: 4rem;
}

.fields_form {
  display: flex;
  flex-direction: column;
  gap: 2rem
}

.field {
  padding: 0 16px;
  background-color: transparent;
  color: $foregroundColor;
  border: 1px solid $subheadColor;
  height: 3rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.1rem;
  &:focus {
    outline: 1px solid $twitterBlue;
  }
}

.submit_btn {
  margin: auto;
  width: 80%;
  padding: 0 16px;
  height: 4rem;
  background-color: $twitterBlue;
  border: none;
  border-radius: 100px;
  color: $foregroundColor;
  font-weight: bold;
  font-size: 1.2rem;
}

.already_exist {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin: auto;
}
