@import "../../variables";

.container {
  padding: 16px;
  background-color: $backgroundColor;
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}

.icon {
  width: 36px;
  height: 36px;
  margin-right: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.author {
  color: $foregroundColor;
}

.text {
  color: $subheadColor;
}
