body {
  background-color: black;
  box-sizing: border-box;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 75px;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px;
}

.sidebar_container {
  min-width: 350px;
  max-width: 500px;
  width: 30%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
