$backgroundColor: black;
$foregroundColor: white;
$subheadColor: #657786;

$twitterBlue: #1d9bf0;
$retweetButtonColor: rgb(0, 186, 124);
$likeButtonColor: #f91880;

$twitterBlueAlpha: rgba(29, 155, 240, 0.2);
$retweetButtonColorAlpha: rgba(0, 186, 124, 0.2);
$likeButtonColorAlpha: rgba(249, 24, 128, 0.2);
$dimmedBackgroundColor: rgb(22, 24, 28);

$componentBorderRadius: 15px;
$textHeight: 22px;

$imageWidth: 500px;
